.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  color: #000;
  font-weight: 500;
}

.form__input {
  font-size: 20px;
  line-height: 30px;
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0 32px;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
  color: #000;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-weight: 500;
  border: none;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
  border-radius: 4px;
  background-color: #1878dc;
  transition: background-color 0.5s linear;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
  cursor: pointer;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 12px;
}

.form__checkbox {
  /* Appearance property to remove default browser styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* For better hiding across all browsers, also makes it take up no space */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form__visible-checkbox {
  display: inline-block; /*to set width and height */
  margin: 0;
  width: 20px;
  height: 20px;
  border: 1.5px solid;
  border-radius: 2px;
  cursor: pointer;
  background-color: #fff;
}

.form__checkbox:checked + .form__visible-checkbox {
  background: #1878dc url(../images/check.svg) no-repeat center;
}

.form__checkbox:focus + .form__visible-checkbox {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
