.menu {
  background: #fff url(../images/background_menu.svg) no-repeat center / cover;
  padding: 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  max-width: 780px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px 0 100px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
